body {
    font-family: 'AR One Sans', sans-serif;
    background-color: rgb(180, 181, 183);
    color: white;
}
.Wrapper {
    background: #161414;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main-des{
    width: 500px;
}