body {
  font-family: "AR One Sans", sans-serif;
  background: rgb(180, 181, 183);
}
.Wrapper {
  word-wrap: break-word;
  padding-left: 0px;
  background: #161414e6;
  color: white;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: 0.5s;
}
.dark .Wrapper {
  background: white;
  color: #161414e6;
}

.dark .myForm {
  color: white;
}
.myForm {
  margin-top: 2%;
  background-color: #161414e6;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  width: 70%;
  position: relative;
}

label {
  margin-bottom: 10px;
  width: 100%;
}

input[type="text"] {
  width: 95%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
select {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
textarea {
  height: 150px;
  width: 95%;
  resize: none;
}

input[type="submit"] {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #005f80;
}
.dark-mode {
  /* tryb jasny ekran ciemny */
  position: absolute;
  top: 5px;
  right: 5px;
  width: 2rem;
  height: 2rem;
  background: #fff;
  color: black;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
.dark .dark-mode {
  background: black;
  color: white;
}
/* Main */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: 2/2/2/2;
  padding-left: 10%;
  padding-top: 50px;
  padding-right: 10%;
}
.main-des {
  width: auto;
}
.student-inf {
  width: auto;
  padding-bottom: 5px;
}

/* Ustawienia Social menu */

.toggle {
  /* toggle przycik odpalający sekwencje */
  position: relative;
  height: 50px;
  width: 50px;
  background: #fff;
  color: black;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  transition: 1.5s;
}
.dark .toggle {
  background: black;
  color: white;
}
.dark .toggle:hover {
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
}

.toggle:hover {
  -webkit-box-shadow: 0px 0px 5px 3px rgba(225, 237, 233, 0.5);
  -moz-box-shadow: 0px 0px 5px 3px rgba(225, 237, 233, 0.5);
  box-shadow: 0px 0px 5px 3px rgba(225, 237, 233, 0.5);
}
.player-conteiner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.losuj {
  margin-top: 2%;
  cursor: pointer;
  width: 15%;
  font-size: 80%;
  background-color: #161414f3;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark .losuj {
  color: white;
}
.losuj:hover p {
  opacity: 0;
}
.losuj:hover img {
  opacity: 1;
}
.losuj img {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}
.social-menu {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social-menu.active .toggle {
  transform: rotate(calc(360deg * 3));
}

.social-menu li {
  list-style: none;
  scale: 0;
  padding-left: 5px;
  -webkit-animation: scale-up-center 1s both;
  animation: scale-up-center 1s both;
  transition: 0.5s;
  transition-delay: calc(0.5s * var(--i));
}
.social-menu li:first-child {
  padding-left: 0px;
}
ol {
  margin-left: 0;
}
.social-menu img:hover {
  transform: translate(0px, -10px);
  transition: 0.5s;
}
.social-menu.active li {
  scale: 1;
}

.contact-block a {
  color: white;
}

.social-menu img {
  width: 50px;
}
.fb {
  padding-right: 5px;
}

/* Ustawienia Aside */
aside {
  position: relative;
  grid-area: 2/1/4/1;
  background: rgb(122, 9, 9);
  display: flex;
  flex-direction: column;
  padding-top: 10%;
}
.front-photo-conteiner {
  width: 100%;
  text-align: center;
}
.front-photo-conteiner img {
  width: 80%;
}
.logo-conteiner {
  width: 100%;
  align-items: center;
}
.logo-conteiner img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.contact-block {
  width: auto;
  color: white;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
}
.contact-block span {
  padding-left: 5%;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* Ustawienia menu*/
.menu-wrap {
  background-color: rgb(251, 207, 40);
  background-image: radial-gradient(
    circle,
    rgba(122, 9, 9, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  justify-content: center;
  text-align: center;
  grid-area: 1/1/1/3;
  display: flex;
  position: relative;
}
nav {
  width: 80%;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
.menu-wrap a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.menu-wrap ul {
  list-style: none;
  text-align: left;
  padding-inline-start: 0px;
}

.primary {
  padding-top: 5%;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: 0px;
}
.list-element {
  display: block;
}
.list-element-link {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: block;
}

.menu-wrap ul:after {
  clear: both;
}

.menu-wrap ul:before,
.menu-wrap ul:after {
  content: " ";
  display: table;
}

ul.primary li a:hover {
  color: #000;
}

ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #bebebe;
  width: 25%;
  display: none;
  padding-inline-start: 20px;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 5% 10%;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

ul.primary li:hover ul {
  display: block;
  background: #fff;
}

ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a {
  color: #000;
}
footer {
  padding-left: 5%;
  grid-area: 3/2/3/3;
  background-color: black;
  opacity: 0.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.agh-footer {
  width: 20%;
}
.dark footer {
  opacity: 0.8;
}
/*why.html*/
.Wrapper-sub {
  word-wrap: break-word;
  padding-left: 0px;
  background: #161414e6;
  color: white;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  width: 80%;
  margin: 0 auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}
.dark .Wrapper-sub {
  background: white;
  color: #161414e6;
}
.explain-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-area: 2/1/3/3;
  position: relative;
}
.explain-wrap a {
  color: inherit;
}
.explain {
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}
.exp-img,
.exp-img2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.exp-img2 img {
  width: 40%;
}
.exp-img2 {
  display: none;
}
.exp-img img {
  width: 60%;
}
.Wrapper-sub footer {
  grid-area: 3/1/4/3;
}
.Wrapper-sub .agh-footer {
  width: 10%;
}
/* Grid */
.parent-wrap {
  font-size: 13px;
  width: 20%;
}
.dark .parent {
  border-color: black;
}
.parent {
  background: #161414e6;
  color: white;
  position: relative;
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(11, auto) 0.1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.div1,
.div2,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div11,
.div13,
.div18 {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}
.div1 {
  grid-area: 1 / 1 / 2 / 4;
  background-color: #161414f3;
}
.div2 {
  grid-area: 2 / 1 / 3 / 4;
}
.div3 {
  grid-area: 3 / 1 / 6 / 2;
  background-color: rgb(44, 44, 44);
}
.div3 img {
  width: 100%;
  height: 100%;
}
.div4 {
  grid-area: 3 / 2 / 4 / 3;
}
.div5 {
  grid-area: 3 / 3 / 4 / 4;
}
.div6 {
  grid-area: 4 / 2 / 5 / 3;
}
.div7 {
  grid-area: 4 / 3 / 5 / 4;
}
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div12,
.div14,
.div16,
.div17 {
  background-color: rgb(63, 63, 63);
}
.div8 {
  grid-area: 5 / 2 / 6 / 3;
}
.div9 {
  grid-area: 5 / 3 / 6 / 4;
}

.div10 {
  grid-area: 6 / 1 / 7 / 4;
}
.div10 i {
  color: #000000ad;

  font-size: 0.8em;
}
.div11 {
  grid-area: 7 / 1 / 8 / 4;
}
.div12 {
  display: flex;
  flex-direction: row;
  grid-area: 8 / 1 / 9 / 4;
}
.div12 img {
  width: 20%;
}

.div12 p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  width: 80%;
  font-size: 0.6em;
}
.div13 {
  grid-area: 9 / 1 / 10 / 4;
}
.div14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-area: 10 / 1 / 11 / 4;
}
.div14 p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  width: calc((100% / 8));
}
.div14 img {
  width: calc((100% / 8));
}
.div15 {
  display: flex;
  grid-area: 12 / 1 / 13 / 2;
}
.div16 {
  grid-area: 13 / 1/ 14 / 4;
}
.div17 {
  grid-area: 12 / 1 / 13 / 4;
}

.div18 {
  grid-area: 11 / 1 / 12 / 4;
}
.div19 {
  display: flex;
  grid-area: 13 / 1 / 14 / 2;
}
.div16,
.div17 {
  align-items: center;
  justify-content: left;
  display: flex;
  flex-direction: row;
}
.div16 img,
.div17 img {
  width: 20%;
  height: 100%;
  margin-right: 5%;
}
.gallery {
  padding-bottom: 2%;
  overflow: hidden;
  grid-area: 2/1/3/3;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.pets-header,
.lake-header,
.sea-header,
.village-header {
  padding: 10px;
  border-radius: 45px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  width: auto;
}

.pets-header {
  background: url("images/gallery/Zwierzaki/front.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 80%;
}
.lake-header {
  background: url("images/gallery/Jeziorko/front.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 60%;
}
.sea-header {
  background: url("images/gallery/Hałupy/front.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 40%;
}
.village-header {
  background: url("images/gallery/Zaniemysl/front.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.gallery h1 {
  color: white;
}
.gallery-content {
  padding-bottom: 5%;
  display: none;
  border-radius: 45px;
  position: relative;
  width: 100%;
}
.photo-conteiner {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
}
.photo-conteiner img {
  padding-left: 6%;
  width: 41%;
}
.gallery .pets,
.lake,
.sea,
.village {
  margin-top: 2%;
  background-color: #161414f3;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 80%;
  border-radius: 45px;
}
@media only screen and (max-width: 1100px) {
  .parent {
    font-size: 10px;
  }
  .div12 {
    font-size: 1.2em;
  }
  .Wrapper {
    width: 100%;
  }

  .Wrapper-sub {
    width: 100%;
  }
  aside {
    font-size: 12 px;
  }
  .main-des {
    font-size: 12px;
  }
  .list-element-link {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .myForm {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .parent {
    font-size: 8px;
  }
  .div12 {
    font-size: 1.2em;
  }
  .list-element-link {
    font-size: 12px;
  }
  .social-menu img {
    width: 40px;
  }
  .toggle {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
  }
  ul.sub {
    font-size: 0.5rem;
  }
  .dark-mode {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 620px) {
  .parent-wrap {
    display: none;
  }
  .explain {
    width: 90%;
  }
  .explain-wrap {
    width: 100%;
  }
  .Wrapper,
  .Wrapper-sub {
    display: flex;
    flex-direction: column;
  }
  .exp-img2 {
    display: flex;
  }
  aside {
    display: none;
  }
  .exp-img2 {
    width: 100%;
  }
  .toggle {
    height: 25px;
    width: 25px;
    font-size: 1.5rem;
  }
  .social-menu img {
    width: 25px;
  }
  .list-element-link {
    font-size: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .myForm {
    width: 100%;
  }
}
